<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DeporteServlet</servlet-name>
        <servlet-class>proyecto.servlet.DeporteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipoServlet</servlet-name>
        <servlet-class>proyecto.servlet.EquipoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JugadoresServlet</servlet-name>
        <servlet-class>proyecto.servlet.JugadoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TorneoServlet</servlet-name>
        <servlet-class>proyecto.servlet.TorneoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeporteServlet</servlet-name>
        <url-pattern>/DeporteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoServlet</servlet-name>
        <url-pattern>/EquipoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JugadoresServlet</servlet-name>
        <url-pattern>/JugadoresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TorneoServlet</servlet-name>
        <url-pattern>/TorneoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
